{% load static %}

<div> {{ times }}</div>
{% for daytime, times in time_slots.items %}
	<div class="time__elems_intro">{{ daytime }}</div>
	<div class="time__elems_elem fic">
		{% for time in times %}
			{% if time not in ordered_timeslots %}
				<button data-time="{{ time }}" class="time__elems_btn">{{ time }}</button>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}


{% block extrascripts %}
<script type="text/JavaScript" src="{%  static 'js/timeslotstoggle.js' %}">

</script>
{% endblock %}